body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #1a1f28; /* Dark blue background */
    color: #e0e0e0; /* Light grey text for contrast */
}

header {
    background: #1a1f28; /* Dark blue header */
    color: #e0e0e0; /* Light text color */
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #a0e23b; 
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline; 
}

section {
    padding: 2rem;
}


.jumbotron {
    position: relative;
    text-align: center;
    color: #a0e23b; 
    height: 100vh;
    overflow: hidden;
}

.jumbotron h1 {
    font-size: 4em;
    margin-top: 0;
    padding: 20px;
    z-index: 2;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10%; 
}

.jumbotron p {
    font-size: 1.5em;
    z-index: 2;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10%; 
}

.carousel-container {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.carousel-slide {
    display: flex;
    width: 200%; 
    animation: slide 10s infinite; 
}

.carousel-slide img {
    width: 100vw; 
    height: 100vh; 
    object-fit: cover;
    filter: grayscale(10%); 
}

@keyframes slide {
    0% { transform: translateX(0); }
    10% { transform: translateX(0); } 
    15% { transform: translateX(-100%); } 
    25% { transform: translateX(-100%); } 
    30% { transform: translateX(-200%); } 
    40% { transform: translateX(-200%); } 
    45% { transform: translateX(-300%); } 
    55% { transform: translateX(-300%); } 
    60% { transform: translateX(-400%); } 
    70% { transform: translateX(-400%); } 
    75% { transform: translateX(-500%); } 
    85% { transform: translateX(-500%); } 
    90% { transform: translateX(-600%); } 
    100% { transform: translateX(0); } 



footer {
    text-align: center;
    padding: 1rem;
    background: #1a1f28; 
    color: #e0e0e0;
}
}
.gallery {
    display: grid;
    grid-template-columns: repeat((2px, 1fr));
    gap: 10px;
}

.gallery img {
    width: 600px; 
    height: 600px; 
    object-fit: cover; 
    border: 10px solid #a0e23b; 
    transition: transform 0.2s; 
}

.gallery img:hover {
    transform: scale(1.05); 
}

@media (max-width: 10px) {
    nav ul li {
        display: block;
        margin: 10px 10px;
    }
}

